.student-card {
  background: var(--white);
  padding: 20px;
  width: 500px;
  max-width: 90vw;
  border-radius: 12px;
  border-bottom: 4px solid var(--tertiary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-bottom: 5px solid var(--tertiary);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.header h3 {
  margin: 0;
  color: rgb(80, 72, 72);
  font-size: 1.2rem;
  text-transform: capitalize;
}
.code {
  font-size: 0.85rem;
  color: #666;
  background: #f1f1f1;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  width: fit-content;
  font-family: monospace;
}
.content {
  background-color: var(--background);
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.content p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.amt {
  color: var(--secondary);
  font-size: 1.5rem;
  margin: 5px 0;
}

.detail-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.detail-btn:hover {
  filter: brightness(1.1);
}
.detail-btn:active {
  transform: scale(0.98);
}
